<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120240315172529.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/aaea667d-d114-4760-a5cc-8105bc081503/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.Web/sites/FunctionApp120240315172529</ResourceId>
    <UserName>$FunctionApp120240315172529</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120240315172529.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>